{% for secret in ipsec_psk_secrets | default([]) %}
{{ secret.leftid }} {{ secret.rightid }} : PSK "{{ secret.psk }}"
{% endfor %}
{% for confline in ipsec_additional_secrets | default([]) %}
{{ confline }}
{% endfor %}     
