config setup
        charondebug="all"
        uniqueids= {{ ipsec_uniqeids | default('yes') }}
        strictcrlpolicy={{ ipsec_strictcrlpolicy | default('no') }}
{% for confline in ipsec_additional_config | default([]) %}
{{ confline }}
{% endfor %}        
{% for conn in ipsec_connections %}
conn {{ conn.name }}
  authby={{ conn.authby | default('secret') }}
  left={{ conn.left }}
  leftid={{ conn.leftid }} 
  {# Example
     leftsubnet=10.0.0.1[tcp/http],10.0.0.2[6/80] or leftsubnet=fec1::1[udp],10.0.0.0/16[/53].
     Instead of omitting either value %any can be used to the same effect, 
     e.g. leftsubnet=fec1::1[udp/%any],10.0.0.0/16[%any/53]. 
    #}
  leftsubnet={{ conn.leftsubnet}}
  right={{ conn.right }}
  rightsubnet={{ conn.rightsubnet }}
  keyexchange={{ conn.keyexchange | default('ikev2') }}
  ike={{ conn.ike | default('aes256-sha2_256-modp1024!') }}
  esp={{ conn.esp | default('aes256-sha2_256!') }}
  {# tunnel | transport | transport_proxy | passthrough | drop #}
  type={{ conn.type | default('tunnel') }} 
  keyingtries={{ conn.keyingtries | default('0') }}
  ikelifetime={{ conn.ikelifetime | default('1h') }}
  lifetime={{ conn.lifetime | default('1h') }}
  dpddelay={{ conn.dpddelay | default('10') }}
  dpdtimeout={{ conn.dpdtimeout | default('30') }}
  dpdaction={{ conn.dpdaction | default('restart') }}
  auto={{ conn.auto | default('start') }}
{% endfor %}
